.images-list{
    margin: 0 auto;
    max-width: 728px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-item{
    max-width: 230px;
    padding: 15px;
    overflow: hidden;
    cursor: pointer;

    &__img{
        width: 100%;
        transition: all .2s linear;
    }

    &:hover {
        .image-item__img{
            transform: scale(1.2);
            filter: brightness(50%);
        }
    }
}